# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
*.xcuserstate
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors
.idea/
.vscode/
